{% set footer_content %}
        &copy; Copyright {{ SITE.time | strftime('%Y') }} {{ SITE.first_name }} {{ SITE.middle_name or ""}} {{ SITE.last_name }}. {{ SITE.footer_text or ""}}&nbsp;
        {%- if SITE.impressum_path -%}
        <a href="{{ SITE.url }}{{ SITE.baseurl }}{{ SITE.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if SITE.last_updated -%}
        Last updated: {{ SITE.time | strftime('%B %d, %Y') }}.
        {%- endif %}
{% endset %}

{% if SITE.footer_fixed %}
  <div class="footerdesktop">
      <footer class="fixed-bottom">
        <div class="container mt-0">
          {{ footer_content}}
        </div>
      </footer>
  </div>
  <div class="footermobile">
      <footer class="sticky-bottom mt-5">
        <div class="container">
          {{ footer_content }}
        </div>
      </footer>
  </div>
{%- else -%}
  <footer class="sticky-bottom mt-5">
    <div class="container">
      {{ footer_content }}
    </div>
  </footer>
{%- endif %}
